/*=============================================================
    Frontend by ZOHEB DAUVA(zohebdauva@gmail.com)
=============================================================*/
/*==========================================================================================================================
 |||||||||  |||||||||  ||     ||  ||||||||  ||||||||      |||||||       ||      ||     ||  ||      ||     ||     
      |||   ||     ||  ||     ||  ||        ||     ||     ||    ||     ||||     ||     ||   ||    ||     ||||    
    |||     ||     ||  |||||||||  ||||||||  ||||||||      ||    ||    ||  ||    ||     ||    ||  ||     ||  ||   
  |||       ||     ||  ||     ||  ||        ||     ||     ||    ||   ||||||||   ||     ||     ||||     ||||||||  
 |||||||||  |||||||||  ||     ||  ||||||||  ||||||||      |||||||   ||      ||   |||||||       ||     ||      || 
==========================================================================================================================*/

@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,600,700';

html {height: 100%;}
html *:focus {outline: none}
body {margin: 0;padding: 20px 0px 0px;border: 0;background: #fff;color: #000;font-family: 'Dosis', sans-serif;font-weight: 400;position: relative;height: 100%;}
a:focus , a:visited , a:active {text-decoration: none;color: #fff;}
a:hover , a {text-decoration: none;color: #fff;}

ul {padding: 0;list-style: none;margin: 0px;} 
.LT {float: left;}
.RT {float: right;}

/*========================================================
      Typo
========================================================*/
h1 {font-size: 50px;line-height: 50px;font-weight: 600;margin: 0px 0px 20px;}
h4 {font-size: 25px;line-height: 25px;font-weight: 600;margin: 0px 0px 15px;}
h5 {font-size: 20px;line-height: 20px;font-weight: 600;margin: 0px 0px 10px;}
p {font-size: 14px;line-height: 24px;font-weight: 400;margin-top: 0px;}

.products {position: relative;}
.products li {position: relative;margin-bottom: 30px;}
.products li a {position: relative;color: #fff;display: block;overflow: hidden;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.products li a .img {position: relative;height: 0px;width: 100%;overflow: hidden;padding-bottom: 100%;background: #000;border: 5px solid #ebebeb;}
.products li a .img img {position: absolute;left: -20px;top: 0px;width: calc(100% + 20px);height: auto;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}

.products li:hover a .img {border-color: #c24e9d;}
.products li:hover a .img img {left: 0px;opacity: .3;}
.products li:hover a .hovertext {opacity: 1;margin-bottom: -70px;}
.anotherstyle .products li a .hovertext {position: static;margin: 10px 0px 0px;opacity: 1;background: transparent;color: #000;height: auto;padding-bottom: 0px;}
.anotherstyle .products li a .hovertext .starType i {color: #c24e9d;font-size: 16px;}
.anotherstyle .products li .btn {cursor: pointer;z-index: 2;position: absolute;right: 50%;padding: 10px;text-align: center;top: 30%;margin-top: 70px;margin-right: -72px;opacity: 0;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.anotherstyle .products li:hover .btn {opacity: 1;margin-top: -20px;}


.shopwrapper {margin-top: 40px;}
.shopwrapper .filterheading {text-transform: uppercase;margin-bottom: 25px;}
.panel-group {background: #f4f4f4;padding: 10px;}
.panel-default >.panel-heading{border-bottom:  1px solid transparent;  background: transparent;border-radius: 0px;padding: 0px;}
.panel-group .panel {border-radius: 0px;border: none;box-shadow: none;background: transparent;}
.panel-default >.panel-heading+.panel-collapse .panel-body {border-top: 0px;padding: 10px 0px 0px;}
.panel-title > a {color: #1a1818;font-size: 14px;padding: 10px 0px ;display: block;font-weight: 600;margin-bottom: 10px;text-transform: uppercase;border-bottom: 1px solid #000;}
.panel-title > a i {float: right;display: none;}
.panel-default > .panel-heading + .panel-collapse .panel-body > .filter_list {padding-left: 0px;}
.filter_list {margin-top: 0px;margin-bottom: 30px;padding-left:10px;}
.filter_list li {font-size: 12px;color: #1a1818;text-transform: uppercase;margin-bottom: 0px;}
.filter_list li label {float: left;}
.filter_list li a {font-size: 12px;color: #1a1818;text-transform: uppercase;}
.filter_list li input {width: 16px;height: 16px;}
.filter_list li i {margin-left: 5px;font-style: normal;}
.filter_list li > span {position: relative;display: block;padding: 5px 0px 5px 20px;margin-bottom: 10px;cursor: pointer;line-height: 13px;z-index: 3;}
.filter_list li.selected > span {padding-left:0px;}

.panel-body .range {margin-top: 10px;}

.filterwrap {padding-bottom: 30px;padding-top: 0px;}
.filterwrap .sortfilter {font-size: 0px;letter-spacing: -4px;}
.filterwrap .sortfilter span {letter-spacing: 0px;line-height: 20px;font-size: 12px;color: #000;padding: 0px 8px;display: inline-block;}
.filterwrap .sortfilter select:focus, .filterwrap .sortfilter select {font-size: 12px;border: transparent;outline: none;height: 20px;padding: 0px;line-height: 20px;}
.filterwrap .sortfilter a {letter-spacing: 0px;line-height: 20px;font-size: 12px;color: #000;padding: 0px 4px;display: inline-block;}
.filterwrap .sortfilter a:last-child {border-right: none}
.filterwrap .sortfilter a.selected , .filterwrap .sortfilter a:hover {color: #c24e9d;}

.productshopwrap .products li {-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;opacity: 0;visibility: hidden;width: 0px;padding: 0px;max-height: 0px;overflow: hidden;margin-bottom: 0px;}
.productshopwrap .products li.showli {visibility: visible;max-height: 400px;opacity: 1;width: 25%;margin-bottom: 30px;padding: 0px 15px;}
